.logo {
  width: 120px;
  height: 31px;
  margin: 20px 24px 16px 0;
  float: left;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  margin: 10% auto;
  padding: 10% 25%;
  min-height: 500px;
}

nz-header {
  background: lightgray;
  height: 100px;
}

nz-form-control {
  padding: 10px;
}
